
*.jar
MavenBase/.mvn/wrapper/maven-wrapper.properties
MavenBase/.settings/org.eclipse.m2e.core.prefs
MavenBase/application/.classpath
MavenBase/application/.project
MavenBase/application/.settings/org.eclipse.core.resources.prefs
MavenBase/application/.settings/org.eclipse.jdt.core.prefs
MavenBase/application/.settings/org.eclipse.m2e.core.prefs
MavenBase/application/.settings/org.springframework.ide.eclipse.prefs
*.MF
MavenBase/application/target/classes/META-INF/maven/com.example/web-module-application/pom.properties
MavenBase/application/target/maven-archiver/pom.properties
*.lst
*.original
*.txt
MavenBase/application/target/surefire-reports/TEST-com.example.multimodule.application.DemoApplicationTest.xml
MavenBase/application/target/test-classes/com/example/multimodule/application/DemoApplicationTest.class
MavenBase/library/.classpath
MavenBase/library/.project
*.prefs
MavenBase/library/target/classes/META-INF/maven/com.example/library/pom.properties
MavenBase/library/target/maven-archiver/pom.properties
*.xml
