
*.jar
MavenBase/.mvn/wrapper/maven-wrapper.properties
MavenBase/.settings/org.eclipse.m2e.core.prefs
MavenBase/application/.classpath
MavenBase/application/.project
MavenBase/application/.settings/*
*.MF
MavenBase/application/target/*
*.lst
*.original
*.txt
MavenBase/library/.classpath
MavenBase/library/.project
*.prefs
MavenBase/library/target/*
